.list-card {
    margin: 16px;
}

@media (min-width: 840px) {
    .list-card {
        width: calc(100vw - 48px - 64px - 112px);
        margin: 16px auto 0;
    }
    .list-card .mat-card-content {
        min-height: 400px;
    }
}

@media (min-width: 1024px) {
    .list-card {
        width: calc(100vw - 48px - 64px - 112px - 256px);
        max-width: calc(1360px - 48px - 64px - 112px - 256px);
    }
}

.search-form {
    background: #fff;
    padding: 0 16px;
    z-index: 1;
    position: relative;
}

@media (min-width: 840px) {
    .search-form {
        margin: 8px 16px 0;
    }
}

.search-form mat-form-field {
    width: 100%;
}

.search-form .search-icon {
    width: 1.5em;
    top: 7px;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}

.item-list {
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

.item-list mat-list-item {
    background: #fff;
}

@media (min-width: 840px) {
    .item-list {
        margin: 8px 16px 0;
        padding-top: 0;
    }
}

virtual-scroll {
    display: block;
    width: 100%;
    height: calc(100vh - 128px - 38px - 45vh);
}

mat-progress-spinner {
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.map-outer {
    background: #dfdfdf;
    height: 45vh;
    z-index: 8;
    width: 100%;
}

agm-map {
    position: relative;
    height: 100%;
}
