.item-list {
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

.item-list .item-elem {
    background: #fff;
    width: 25%;
    display: inline-block;
    text-align: center;
}

@media (min-width: 840px) {
    .item-list {
        margin: 8px 16px 0;
        padding-top: 0;
    }
}

virtual-scroll {
    display: block;
    width: 100%;
    height: calc(100vh - 112px - 45vh);
}

@media (min-width: 1024px) {
    virtual-scroll {
        height: calc(100vh - 64px - 45vh - 16px);
    }
}

mat-progress-spinner {
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px + 22.5vh);
    left: calc(50% - 25px);
}

.map-outer {
    background: #dfdfdf;
    height: 45vh;
    z-index: 8;
    width: 100%;
}

agm-map {
    position: relative;
    height: 100%;
}