<div class="map-outer">
  <agm-map *ngIf="vehiclesList && vehiclesList.length" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [clickableIcons]="false"
    [disableDefaultUI]="true">

    <agm-marker *ngFor="let vehicle of vehiclesList" [latitude]="getNumber(vehicle.lat)" [longitude]="getNumber(vehicle.lnt)"
      [iconUrl]="{url:getIconUrl(vehicle.line), scaledSize: { width: 50, height: 20 }}"></agm-marker>
  </agm-map>
</div>

<div [@fadeInAnimation]>
  <mat-list class="item-list">
    <virtual-scroll [items]="lineList" (update)="viewPortItems = $event">
      <mat-list-item *ngFor="let vehicle of viewPortItems">
        <p matLine>{{vehicle.line}}</p>
      </mat-list-item>
    </virtual-scroll>
  </mat-list>


</div>

<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>