/* .list-card {
    margin: 16px;
}

.board-cards {
    padding-bottom: 64px;
} */

.map-outer {
    background: #dfdfdf;
    height: 45vh;
    position: fixed;
    z-index: 8;
    width: 100%;
}

agm-map {
    position: relative;
    height: 100%;
}

.panel-states {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 16px 16px 0; */
    /* padding-bottom: 64px; */
    padding: 16px 16px 64px;
    min-height: calc(100vh - 64px - 64px - 45vh - 16px);
    position: relative;
    background: #eee;
    z-index: 9;
}

.spacer {
    height: 45vh;
}

.panel-states::after {
    content: "";
    width: calc(33% - 8px);
}

.panel-state-card {
    width: 100%;
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .panel-state-card {
        width: calc(50% - 48px - 8px);
    }
}

@media (min-width: 1024px) {
    .panel-state-card {
        width: calc(33% - 48px - 8px);
    }
}

.list-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-row span {
    font-size: 16px;
}

.panel-state-card mat-card-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

mat-progress-spinner {
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px + 22.5vh);
    left: calc(50% - 25px);
}