<!-- <div class="board-cards">
    <p *ngIf="loading">Loading...</p>
    <mat-card class="list-card" *ngFor="let stop of stopsList" [@fadeInAnimation]>
        <p>{{stop.name}}({{stop.groupId}}{{stop.columnId}})</p>
        <mat-list>
            <mat-list-item *ngFor="let departures of stop.departures">
                <p matLine>{{departures.line}} - {{departures.direction}} - {{departures.status}}</p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div> -->

<div class="map-outer">
    <agm-map *ngIf="stopsList && stopsList.length" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [clickableIcons]="false"
        [disableDefaultUI]="true">

        <!-- <agm-marker [latitude]="userLat" [longitude]="userLng"></agm-marker> -->
        <agm-marker *ngFor="let stop of stopsList" [latitude]="getNumber(stop.lat)" [longitude]="getNumber(stop.lnt)" [iconUrl]="{url:getIconUrl(stop.groupId+''+stop.columnId), scaledSize: { width: 50, height: 20 }}" (markerClick)="scroll(stop.id)" >
            <!-- <agm-info-window #infoWindow> -->
                <!-- <p>Stop: {{stop.groupId}}{{stop.columnId}}</p> -->
                <!-- <button mat-button (click)="scroll(stop.id, infoWindow)">Show</button> -->
                <!-- <button mat-button (click)="">Icon</button> -->
            <!-- </agm-info-window> -->
        </agm-marker>

    </agm-map>
</div>
<div class="spacer"></div>
<div #panelStates class="panel-states mat-elevation-z2" *ngIf="stopsList && stopsList.length">

    <mat-card attr.id="stop-card-{{stop.id}}" *ngFor="let stop of stopsList | orderBy:'id'" class="panel-state-card" [@fadeInAnimation]>
        <mat-card-title>
            <span>
                {{stop.name}}
            </span>
            <b>{{stop.groupId}}{{stop.columnId}}</b>
        </mat-card-title>
        <mat-card-content>
            <mat-list dense>
                <mat-list-item>
                    <div class="list-row">
                        <span class="line">Line</span>
                        <span class="direction">Destination</span>
                        <span class="arrival">Arrival</span>
                    </div>
                </mat-list-item>
                <mat-list-item *ngIf="!stop.departures || !stop.departures.length">
                    <div class="list-row">
                        <span class="info">No departures</span>
                    </div>
                </mat-list-item>
                <mat-list-item *ngFor="let departures of stop.departures">
                    <div class="list-row">
                        <span class="line">{{departures.line}}</span>
                        <span class="direction">{{departures.direction}}</span>
                        <span class="arrival">
                            <mat-icon *ngIf="departures.onStop">directions_bus</mat-icon>
                            <span *ngIf="!departures.onStop">
                                <span *ngIf="departures.isApprox">~</span>{{departures.arrival}}
                            </span>
                        </span>

                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

</div>
<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>
<!-- <div class="main-fab">
    <button mat-fab color="accent" (click)="createPresentation()">
        <mat-icon>add</mat-icon>
    </button>
</div> -->