<div [@fadeInAnimation]>
    <div class="search-form mat-elevation-z2">
        <form [formGroup]="searchForm">
            <mat-form-field floatLabel="never">
                <span matPrefix>
                    <mat-icon class="search-icon">search</mat-icon>
                </span>
                <input matInput placeholder="Search" formControlName="searchText" autocomplete="off">
                <span class="pointer-cursor" matSuffix *ngIf="searchForm.value.searchText" (click)="clearSearchText()">
                    <mat-icon class="search-icon">clear</mat-icon>
                </span>
            </mat-form-field>
        </form>
    </div>


    <mat-list class="item-list recently-list" *ngIf="recentlyUsed && recentlyUsed.length && !searchForm.value.searchText">
        <h3 matSubheader class="list-title">Recently used</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let stop of recentlyUsed | stopsFilter:listFilter" (click)="goToStop(stop)" attr.aria-label="Go to {{stop.name}} board view">
            <p matLine>{{stop.name}}</p>
            <a mat-icon-button>
                <mat-icon>navigate_next</mat-icon>
            </a>
        </mat-list-item>
    </mat-list>

    <mat-list class="item-list other-list">
        <h3 matSubheader class="list-title" *ngIf="recentlyUsed && recentlyUsed.length">Others</h3>
        <mat-divider></mat-divider>
        <virtual-scroll [items]="stopsList | stopsFilter:listFilter" (update)="viewPortItems = $event">
            <mat-list-item *ngFor="let stop of viewPortItems" (click)="goToStop(stop)" attr.aria-label="Go to {{stop.name}} board view">
                <p matLine>{{stop.name}}</p>
                <a mat-icon-button>
                    <mat-icon>navigate_next</mat-icon>
                </a>
            </mat-list-item>
        </virtual-scroll>
    </mat-list>


</div>

<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>
<!-- <div class="main-fab">
    <button mat-fab color="accent" (click)="createPresentation()">
        <mat-icon>add</mat-icon>
    </button>
</div> -->