.search-form {
    background: #fff;
    padding: 0 16px;
    z-index: 1;
    position: relative;
}

@media (min-width: 840px) {
    .search-form {
        margin: 8px 16px 0;
    }
}

.search-form mat-form-field {
    width: 100%;
}

.search-form .search-icon {
    width: 1.5em;
    top: 7px;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}

.item-list {
    background: #fff;
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

.item-list mat-list-item {
    background: #fff;
}

.list-title:first-child {
    margin-top: 0;
}

@media (min-width: 840px) {
    .item-list {
        margin: 8px 16px 0;
        padding-top: 0;
    }
}

virtual-scroll {
    display: block;
    width: 100%;
    height: calc(100vh - 56px - 48px);
}

@media (min-width: 1024px) {
    virtual-scroll {
        height: calc(100vh - 64px - 48px - 8px);
    }
}

mat-progress-spinner {
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
