<div class="search-form mat-elevation-z2">
    <form [formGroup]="searchForm">
        <mat-form-field floatLabel="never">
            <span matPrefix>
                <mat-icon class="search-icon">search</mat-icon>
            </span>
            <input matInput placeholder="Search" formControlName="searchText">
            <span class="pointer-cursor" matSuffix *ngIf="searchForm.value.searchText" (click)="clearSearchText()">
                <mat-icon class="search-icon">clear</mat-icon>
            </span>
        </mat-form-field>
    </form>
</div>


<p *ngIf="loading">Loading...</p>
<mat-nav-list class="list-item">
    <!-- <mat-list-item *ngFor="let stop of stopsList | stopsFilter:searchForm.value.searchText"> -->
    <mat-list-item *ngFor="let stop of stopsList | stopsFilter:listFilter">
        <mat-divider></mat-divider>
        <p matLine>{{stop.name}}</p>
    </mat-list-item>
</mat-nav-list>

<!-- <div class="main-fab">
    <button mat-fab color="accent" (click)="createPresentation()">
        <mat-icon>add</mat-icon>
    </button>
</div> -->