.main-content {
    padding-top: 56px;
    /* padding-bottom: 72px; */
}

@media (min-width: 600px) {
    .main-content {
        padding-top: 64px;
    }
}

.sidenav-content {
    height: 100vh;
    background-color: #eee;
}

.sidenav {
    width: 90vw;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.toolbar-top {
    min-height: 168px;
}

@media (min-width: 600px) {
    .toolbar-top {
        min-height: 192px;
    }
}

.toolbar-list {
    flex-grow: 1;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #fff;
}

.bottom-bar .button-group {
    width: 100%;
    display: flex;
    max-width: 599px;
    margin: 0 auto;
}

.bottom-bar span {
    flex: 1;
    text-align: center;
}

@media (min-width: 1024px) {
    /* tymczasowo */
    .bottom-bar{
        display: none;
    }
    .bottom-bar mat-toolbar-row {
        width: calc(100% - 256px);
    }
}